* {
    box-sizing: border-box;
}
body {
    font-family: Karla, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0B2434;
    padding: 20px;
}

.container {
    width: 360px;
    height: 380px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

.btn-container {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 20px;
}

button {
    font-size: larger;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.btn-container > button {
    width: 50px;
    height: 50px;
    background-color: white;

}

#roll-btn {
    margin-top: 40px;
    width: 150px;
    height: 35px;
    background-color: #5035FF;
    color: white;
} 

.heading {
    font-size: 25px;
    margin-bottom: 1px;
}

.instructions {
    width: 250px;
    font-family: sans-serif;
    font-size: 15px;
}

footer > p{
    margin-top: 20px;
    font-family: Inter, sans-serif;
    font-size: 15px;
    color: #F5F5F5;
}

